global
    log /dev/log	local0
    log /dev/log	local1 notice
    stats timeout 30s

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    errorfile 400 /usr/local/etc/haproxy/errors/400.http
    errorfile 403 /usr/local/etc/haproxy/errors/403.http
    errorfile 408 /usr/local/etc/haproxy/errors/408.http
    errorfile 500 /usr/local/etc/haproxy/errors/500.http
    errorfile 502 /usr/local/etc/haproxy/errors/502.http
    errorfile 503 /usr/local/etc/haproxy/errors/503.http
    errorfile 504 /usr/local/etc/haproxy/errors/504.http

frontend http-in
    mode http
    bind *:80
    default_backend fusionauth
    acl host-is-fusionauth hdr(host) eq fusionauth-haproxy.example.com
    use_backend fusionauth if host-is-fusionauth

backend fusionauth
    mode http
    server fusionauth1 fusionauth:9011
